section.produtos{
  margin: 0 auto;
}

section.produtos .swiper .swiper-slide {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
  width: 167px !important;
  height: 200px !important;
  margin: 10px 8.5px;
  background-color: #F4F4F4;
  box-shadow: -2px 5px 5px rgb(0 0 0 / 25%);
  border-radius: 25px;
  justify-content: flex-end;

}

.img-produto img {
  width: 75%;
  position: absolute;
  top: -24px;
  left: 30px;

}

.img-produto--lg img {
  width: 155px;
  position: absolute;
  top: -48px;
  left: 10px;
}

.card__not {
  display: flex;
}

.nome {

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: green;
}

.preco {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: greenyellow;
}


section.produtos .swiper.swiper-card.swiper-initialized.swiper-horizontal {
  height: 275px;
}

.titulo__produto{
  font-weight: bold;
}

.btn__produto {
  background-color: #006666;
  height: 40px;
  display: flex;
  border-radius: 0px 0px 25px 25px;
  width: 100%;
  color: white;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

section.produtos .swiper-card .swiper-wrapper{
  margin-top: 11px !important;
}

@media screen AND (min-width: 1024px){ 
  section.produtos{
    width: 90%;
  }
}