.container__introducao{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column; 
    margin-top: 30px;     
 }

 .titulo__introducao{
    display: flex;
    font-size: 18px;
    width: 75%;
 }

 
 .titulo__introducao h1{
    text-align: center;
    margin-bottom: 20px;
 }

 .p__introducao{
    font-size: 15px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 35px;
    text-align: justify;
 }