.container__footer__news {
    margin: 16px;
}

.container__footer__news input:focus {
    outline: 0;
}

.container__footer__news__title {
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    color: #575757;

}

.container__footer__news__form {
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    background: #F4F4F4;
    box-shadow: 0px 4px 4px #00000040;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container__footer__form {
    width: 100%;
}

.container__footer__news__itens {
    color: #575757;
}

.container__footer__news__itens input {
    border: none;
    border-bottom: 1px solid #006666;
    background-color: transparent;
    width: 80%;
}

.container__footer__news__itens__lb {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0px;
}

.container__footer__news__enviar {
    margin-top: 20px;
    border-radius: 10px;
    border-style: none;
    background-color: #006666;
    width: 124px;
    height: 44px;
    color: #FFFFFF;
}

@media screen AND (min-width: 1024px){ 
    .container__footer__news {
        width: 50%;
    }
    section.novidades{
        align-items: center;
    }
    
}


